/*webkit-sassui-block-quote Start*/
/*webkit-sassui-block-quote End*/
.test-webkit-sassui-block-quote {
  background-color: whitesmoke;
  border-left: 4px solid #f57e42;
  color: #333;
  padding: 10px;
}
